* {
    font-family: 'Mukta', sans-serif;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #2a3036;
}

.linksFooter {
    list-style: none;
    text-decoration: white;
    padding-left: 0;
}

.linksFooter>li>a:hover {
    list-style: none;
    text-decoration: white;
    background-color: rgb(32, 32, 32);
    padding-left: 0;
}

.criarPublicacao {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 3rem;
    margin-right: 1rem;
}